extends layout 

block content 
    h1= title 

    ul 
        each genre in allGenre
            li 
                a(href=genre.url) #{genre.name}
                //- |    (#{book.author.name})
                //- // the "|" character lets me write text without new block
        
        else 
            li There are no genres.